# Copyright (c) Victor Derks.
# SPDX-License-Identifier: MIT

# Set default behavior to automatically normalize line endings.
* text=auto

# Explicit define text files types.
*.cs text diff=csharp
*.md text
*.sln text
*.csproj text
*.ruleset text